* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
.img-section {
	position: relative;
}
.img-section img {
	width: auto;
	height: auto;
}
.leftbutton {
	top: 50%;
	position: absolute;
	border-style: none;
	font-size: 20px;
	background-color: transparent;
	color: black;
}
.rightbutton-one {
	top: 50%;
	position: absolute;
	right: 0rem;
	border-style: none;
	font-size: 20px;
	background-color: transparent;
	color: black;
}
.gallery-section {
	display: flex;
	gap: 1rem;
	padding: 2rem;
}
.text-section {
	display: grid;
	/* max-width: 470px; */
}
.col-1-first {
	display: flex;
	gap: 10rem;
}
.direction-div {
	padding: 6px 10px;
	overflow: hidden;
	padding-left: 30px;
}
.subimages-div {
	display: flex;
	gap: 0.5rem;
	overflow: hidden;
}
.touch-button {
	padding: 0.8rem 3rem;
	overflow: auto;
	color: aliceblue;
	background-color: black;
	border-radius: 5px;
}
.getintouch-button {
	text-align: center;
}
.direction-button {
	color: white;
	background-color: black;
	border-radius: 4px;
}
.img-title {
	text-align: center;
}
.images-1 img {
	border-radius: 5px;
}
.cardsection {
	padding: 0rem;
	margin: 0rem 3rem;
}
.p-tag-title {
	font-size: 10px;
	color: gray;
}
@media screen and (max-width: 600px) {
	.col-1-first {
		gap: 0.2rem;
	}
	.subimages-div {
		display: grid;
	}
	.gallery-section {
		flex-wrap: wrap;
	}
	.img-section {
		overflow: hidden;
	}
	.subimages-div {
		text-align: center;
	}
	.direction-div {
		padding-left: 0px;
		margin-left: 0rem;
	}
	.cardsection {
		margin: 0rem 0rem;
	}
	.title-card-two h1 {
		font-size: 20px;
	}
}
@media screen and (max-width: 1024px) {
	.main-div {
		/* overflow: hidden; */
	}
	.gallery-section {
		
	}
}
