@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:ital,wght@0,400;1,700&family=Montserrat:wght@300&family=Nunito:wght@200&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.cardsection-two {
	padding: 0rem;
	margin: 0rem 3rem;
}
.gallery-section-two {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	background-color: bisque;
	border-radius: 10px;
}
.main-div-two {
	margin-top: 2rem;
}
.text-section-two {
	display: grid;
}
.col-first-two {
	display: flex;
	justify-content: space-between;
}
.p-tag-title-two {
	font-size: 10px;
	color: black;
	font-weight: 1000;
}
.direction-button-two {
	color: white;
	background-color: black;
	border-radius: 4px;
}
.subimages-div-two {
	display: flex;
	gap: 0.5rem;
	overflow: hidden;
}
.direction-div-two {
	padding: 6px 10px;
	overflow: hidden;
	padding-left: 30px;
}
.img-title-two {
	text-align: center;
}
.getintouch-button-two {
	text-align: center;
}
.touch-button-two {
	padding: 0.8rem 3rem;
	overflow: auto;
	color: aliceblue;
	background-color: black;
	border-radius: 5px;
}
.images-2 img {
	border-radius: 5px;
	width: 100%;
	transition: transform 0.2s;
}
.images-2 img:hover {
	transform: scale(1.5);
}
.img-section-two {
	position: relative;
}
.img-section-two img {
	width: 750px;
	height: 450px;
	border-radius: 5px;
}
.leftbutton-two {
	top: 50%;
	position: absolute;
	border-style: none;
	font-size: 20px;
	background-color: transparent;
	color: white;
}
.rightbutton-two {
	top: 50%;
	position: absolute;
	right: 0.1rem;
	border-style: none;
	font-size: 20px;
	background-color: transparent;
	color: white;
}
.title-card-two {
	text-align: start;
}
@media screen and (max-width: 600px) {
	.col-first-two {
		width: 100%;
		justify-content: space-between;
		gap: 0rem;
	}
	.text-section-two {
		gap: 1rem;
	}
	.subimages-div-two {
		display: flex;
		width: 100%;
	}
	.gallery-section-two {
		flex-wrap: wrap;
	}
	.img-section-two img {
		width: 100%;
		height: 100%;
	}
	.subimages-div-two {
		text-align: center;
	}
	.direction-div-two {
		padding-left: 0px;
		margin-left: 0rem;
	}
	.cardsection-two {
		margin: 0rem 0rem;
	}
	.title-card-two h1 {
		font-size: 25px;
	}
	.img-title-two {
		font-size: 10px;
	}
	.p-tag-title-two {
		font-size: 9px;
	}
}
@media screen and (max-width: 1024px) {
	.img-section-two img {
		width: 100%;
	}
	.gallery-section-two {
		width: 100%;
		display: grid;
	}
	.text-section-two {
		gap: 1rem;
	}
}
