@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:ital,wght@0,400;1,700&family=Montserrat:wght@300&family=Nunito:wght@200&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.slide-images {
	display: flex;
	overflow: hidden;
	position: relative;
}
.slide-container {
	gap: 0.2rem;
}
.card-slider-main {
	padding: 2rem;
}
.leftbutton-slide {
	position: absolute;
	top: 30%;
	font-size: 20px;
	background-color: transparent;
	color: orangered;
	border-style: none;
}
.rightbutton-slide {
	position: absolute;
	top: 30%;
	right: 0rem;
	font-size: 20px;
	background-color: transparent;
	color: orangered;
	border-style: none;
}
.image-div h2 {
	text-align: center;
}
.image-div h5 {
	text-align: justify;
	width: 90%;
	margin-left: 0.5rem;
}
.image-div img {
	width: 100%;
	border: 1px solid;
}
.slide-images {
	gap: 0.3rem;
}
@media screen and (max-width: 600px) {
	.slide-images {
		width: 100%;
	}
	.image-div img {
		width: 100vw;
	}
}
@media screen and (max-width: 1024px) {
	.slide-images {
		width: 100%;
	}
	.rightbutton-slide {
		top: 30%;
	}
	.leftbutton-slide {
		top: 30%;
	}
}
